<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Recommendations for Burnout Prevention</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Burnout Monitor Logo" class="logo">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('recommendations') }}">Recommendations</a></li>
                    <li><a href="{{ url_for('additional_visualizations') }}">Further Visualizations</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <section>
            <h3>Personalized Recommendations for Reducing Burnout</h3>
            <ul>
                {% for recommendation in personalized_recommendations %}
                    <li>{{ recommendation }}</li>
                {% endfor %}
            </ul>
            <h3>Recommended Actions</h3>
            <ul>
                {% for recommendation in recommendations %}
                    <li>{{ recommendation }}</li>
                {% endfor %}
            </ul>
            <div>
                <h3>Top 5 Burnout Risk Factors</h3>
                <div id="burnout_risk_factors">
                    {{ burnout_risk_factors|safe }}
                </div>
            </div>

            <div>
                <h3>Burnout Trends by Seniority (Line Graph)</h3>
                <div id="line_graph">
                    {{ line_graph|safe }}
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Burnout Monitor. All rights reserved.</p>
    </footer>
</body>
</html>
